@{
    ViewData["Title"] = "O serivsu";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
<p>Servis za vođenje evidencije o servisiranju aviona. Servis se sastoji iz portala za administratora i portala za zaposlene. Administrator ima
    uvid u avione, servise koje treba da se obave, izveštaje o obaljenim servisima i zaposlene. Administrator kreira avione, servise i zaposlene.
    Zaposleni mogu da izaberu servise za avione za čijeg proizvođača imaju ovlašćenje. Kada obave servis, kreiraju izveštaj i servis se završava.
</p>
</div>